/* No files to import found in abstractions/**\/* */
.webform-client-form {
  padding: 50px 0px;
  margin: 0px 2% 50px;
}
.webform-client-form label {
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 1.2em;
  margin-bottom: 5px;
  color: #fff;
}
.webform-client-form input {
  width: 100%;
  border-radius: 2px;
  border: none;
  background-color: #333;
  font-size: 1.2em;
  padding: 8px;
  color: #fff;
}
.webform-client-form select {
  width: 100%;
  border-radius: 2px;
  border: none;
  background-color: #333;
  font-size: 1.2em;
  padding: 7px;
  color: #fff;
}
.webform-client-form select option {
  border: 0 none;
}
.webform-client-form textarea {
  width: 100%;
  border-radius: 2px;
  border: none;
  background-color: #333;
  font-size: 1.2em;
  padding: 5px;
  color: #fff;
}
.webform-client-form .form-text {
  font-size: 1.2em;
}
.webform-client-form .grippie {
  display: none;
}
.webform-client-form .webform-submit {
  padding: 7px;
  font-size: 1.2em;
}
.webform-client-form .button-primary {
  color: #000;
  display: block;
  padding: 10px;
  text-decoration: none;
  background-color: #fff;
  -moz-transition: background-color 1s 0.5s, color 2s;
  -o-transition: background-color 1s 0.5s, color 2s;
  -webkit-transition: background-color 1s, color 2s;
  -webkit-transition-delay: 0.5s, 0s;
  transition: background-color 1s 0.5s, color 2s;
}
.webform-client-form .button-primary:hover {
  color: #fff;
  background-color: #999;
}

@media (min-width: 768px) {
  .l-page .webform-client-form {
    padding: 50px 0px;
    margin: 0px 12.5% 50px;
  }
  .l-page .webform-submit {
    max-width: 25%;
  }
}

img, media {
  max-width: 100%;
}

body {
  font-family: "Times New Roman", Times, serif;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
  color: #fff;
}
body p, body ol, body ul, body ul li {
  color: #fff;
}

.button_site {
  border: 1px solid #ccc;
  font-size: 1.5em;
  line-height: 1.9em;
  font-weight: normal;
  border-radius: 2px;
}
.button_site a {
  color: #fff;
  display: block;
  padding: 10px;
  text-decoration: none;
  background-color: #000;
  -moz-transition: background-color 1s 0.5s, color 2s;
  -o-transition: background-color 1s 0.5s, color 2s;
  -webkit-transition: background-color 1s, color 2s;
  -webkit-transition-delay: 0.5s, 0s;
  transition: background-color 1s 0.5s, color 2s;
}
.button_site a:hover {
  color: #000;
  background-color: #fff;
}

.button_site_alt {
  border: 1px solid #000;
  font-size: 1.5em;
  line-height: 1.9em;
  font-weight: normal;
  border-radius: 2px;
  margin-right: 5%;
  margin-left: 5%;
}
.button_site_alt a {
  color: #fff;
  display: block;
  padding: 10px;
  text-decoration: none;
  background-color: #000;
  -moz-transition: background-color 1s 0.5s, color 2s;
  -o-transition: background-color 1s 0.5s, color 2s;
  -webkit-transition: background-color 1s, color 2s;
  -webkit-transition-delay: 0.5s, 0s;
  transition: background-color 1s 0.5s, color 2s;
}
.button_site_alt a:hover {
  color: #000;
  background-color: #fff;
}

@media (min-width: 768px) {
  .button_site {
    margin: 0 auto;
    max-width: 12em;
  }

  .button_site_alt {
    margin: 0 auto;
    max-width: 300px;
  }
}
.mean-container .mean-bar {
  float: none;
  position: absolute;
  z-index: 1;
  background-color: transparent;
  right: 0;
  width: 40%;
}

.mean-container .mean-nav {
  position: absolute;
  background: none;
  background-image: url("../../../images/hd-bg.png") !important;
}
.mean-container .mean-nav ul li a {
  text-align: right;
  border-top: none;
}

.l-region--navigation {
  width: 80%;
  float: right;
  position: relative;
}
.l-region--navigation .pane-system-main-menu {
  float: right;
}
.l-region--navigation .pane-system-main-menu ul.menu {
  border: 0px none;
  list-style: outside none none;
  text-align: left;
  margin: 12px 0 0;
}
.l-region--navigation .pane-system-main-menu ul.menu:after {
  content: "";
  display: table;
  clear: both;
}
.l-region--navigation .pane-system-main-menu ul.menu li {
  text-align: left;
  display: block;
  float: left;
  margin-right: 30px;
}
.l-region--navigation .pane-system-main-menu ul.menu li:last-child {
  margin-right: 0px;
}
.l-region--navigation .pane-system-main-menu ul.menu li a {
  display: block;
  text-transform: lowercase;
  text-decoration: none;
  font-size: 20px;
  color: #FFF;
  padding: 14px 0;
}
.l-region--navigation .pane-system-main-menu ul.menu li a:hover {
  display: block;
  text-transform: lowercase;
  text-decoration: none;
  color: #999;
}

.l-region--sidebar-first ul.menu {
  border: 0px none;
  list-style: outside none none;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}
.l-region--sidebar-first ul.menu li {
  text-align: left;
  display: block;
}
.l-region--sidebar-first ul.menu li:last-child {
  padding-bottom: 14px;
}
.l-region--sidebar-first ul.menu li a {
  display: block;
  text-transform: lowercase;
  text-decoration: none;
  font-size: 22px;
  color: #666;
  padding: 10px 0 0;
}
.l-region--sidebar-first ul.menu li a:hover {
  display: block;
  text-transform: lowercase;
  text-decoration: none;
  color: #FF4400;
}

.l-footer h2.pane-title {
  display: block;
  font-size: 18px;
  color: #999;
  border-bottom: 1px solid #999;
}
.l-footer ul.menu {
  border: 0px none;
  list-style: outside none none;
  text-align: left;
  margin: 0 0 25px 0;
  padding-left: 0;
}
.l-footer ul.menu:after {
  content: "";
  display: table;
  clear: both;
}
.l-footer ul.menu li {
  text-align: left;
  list-style: outside none none;
}
.l-footer ul.menu li a {
  display: block;
  text-transform: lowercase;
  text-decoration: none;
  font-size: 14px;
  color: #999;
  padding: 5px 0 0;
}
.l-footer ul.menu li a:hover {
  display: block;
  text-transform: lowercase;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}

.l-footer ul.social-networks {
  margin: 0;
  padding: 0;
  list-style: outside none none;
}
.l-footer ul.social-networks li.facebook {
  background: url("http://www.ecorhythm.com/sites/all/themes/omegaeco/social-networks/facebook.png") no-repeat scroll 0% 0%/75% auto transparent;
  max-width: 175px;
  line-height: 40px;
  list-style: outside none none;
}
.l-footer ul.social-networks li a {
  display: block;
  text-decoration: none;
}

@media (min-width: 768px) {
  .l-footer ul.social-networks {
    margin: 0px;
  }
  .l-footer ul.social-networks li.facebook {
    width: 30%;
    line-height: 50px;
  }
  .l-footer .pane-menu-menu-footer:after {
    content: "";
    display: table;
    clear: both;
  }
  .l-footer .pane-menu-menu-footer h2.pane-title {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  .l-footer .pane-menu-menu-footer ul.menu {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: left;
  }
}
/* Ideas for site slider */
.flexslider ul {
  margin-right: 10%;
  margin-left: 10%;
}

.pane-title {
  display: none;
  padding: 0;
  margin: 0;
}

.l-page {
  margin: 0 auto;
  background-color: #000;
}

.l-header {
  background-color: transparent;
  width: auto;
  padding: 0px 2.5%;
  height: 49px;
  width: 100%;
  background-image: url("../../../images/hd-bg.png");
}
.l-header:after {
  content: "";
  display: table;
  clear: both;
}

.l-region--header {
  width: 20%;
  float: left;
}

#logo img {
  width: 250px;
  min-width: 200px;
  z-index: 999;
  margin: 20px 0 0;
}

.l-main {
  width: 100%;
  background-color: #000;
}

.l-footer {
  width: 100%;
  padding: 2.5% 2.5%;
  background: #000;
}
.l-footer:after {
  content: "";
  display: table;
  clear: both;
}
.l-footer .copyright {
  float: right;
  width: 40%;
  text-align: right;
  margin: 0;
  padding-right: 0;
}
.l-footer .copyright:after {
  content: "";
  display: table;
  clear: both;
}
.l-footer .copyright p {
  color: #666;
  font-size: 12px;
}
.l-footer .snw {
  float: left;
  width: 40%;
  text-align: left;
  margin: 0;
  padding-left: 0;
}

@media (min-width: 768px) {
  .l-header {
    min-height: 100px;
  }

  .l-main {
    margin-top: 0;
  }

  .l-footer {
    padding: 7px 2.5%;
  }
}
@media (min-width: 1024px) {
  .l-header {
    min-height: 100px;
  }

  .l-main {
    margin-top: 0;
  }

  .l-footer {
    padding: 7px 2.5%;
  }
}
@media (min-width: 1120px) {
  .l-header {
    min-height: 100px;
  }

  .l-main {
    margin-top: 0;
  }

  .l-footer {
    padding: 7px 2.5%;
  }
}
.l-page h2 {
  font-size: 2.0em;
}
.l-page p {
  font-size: 1.25em;
}
@media (min-width: 768px) {
  .l-page h2 {
    font-size: 2.75em;
  }
  .l-page p {
    font-size: 1.75em;
  }
}

.l-main:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 768px) {
  .l-region--sidebar-first {
    width: 23.72881%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  .l-content {
    width: 74.57627%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
@media (min-width: 1120px) {
  .l-region--sidebar-first {
    width: 23.72881%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  .l-content {
    width: 74.57627%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
