$grids: 12;
$gutters: 1/3; // = 1/3rd of a column

$tab: 768px; // iPad portrait
$tabwide: 1024px; // iPad landscape
$desk: 1120px; // Widescreen


$between: 481px 767px; // mobile max width to tab min width


$touch: point coarse, 'no-query''.touch';

